.btn {
  margin: 0px;
  border-radius: 4px;
  border-collapse: separate !important;
}

.btn td {
  border-radius: 4px;
}

.btn td a {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 12px;
  line-height: 1.25 * $font-size-base;
  border: 1px solid #e9703e;
  display: inline-block;
  font-weight: normal;
  white-space: nowrap;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} td{
    background-color: $value;
  }
  .btn-#{$color} td a{
    background-color: $value;
    @include color-yiq($value);
    border-color: $value;
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} td {
    background-color: transparent;
    border-color: $value;
  }
  .btn-outline-#{$color} td a {
    background-color: transparent;
    border-color: $value;
    color: $value;
  }
}

.btn-sm td a {
  font-size: $font-size-base * .875;
  padding: 8px 16px;
  line-height: 1.5 * $font-size-base;
  border-radius: $font-size-base * .2;
}

.btn-lg td a {
  font-size: $font-size-base * 1.25;
  padding: 4px 8px;
  line-height: 1.5 * $font-size-base;
  border-radius: $font-size-base * .3;
}
