.btn {
  margin: 0px;
  border-radius: 4px;
  border: 0;
  border-collapse: separate !important;
}

.btn td {
  border-radius: 4px;
  padding: 8px 16px;
  border-width: 1px;
  border-style: solid;
  border-collapse: separate !important;
  text-align: center;
  vertical-align: middle;
}

.btn td a {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary td {
  background: #3A71B8;
  border-color: #0275d8;
  color: #fff; // specify color twice because of Outlook.com
}
.btn-primary td a {
  color: #fff;
}

.btn-secondary td {
  background-color: #fff;
  border-color: #ccc;
  color: #292b2c;
}
.btn-secondary td a {
  color: #292b2c;
}

.btn-info td {
  background-color: #5bc0de;
  border-color: #5bc0de;
  color: #fff;
}
.btn-info td a {
  color: #fff;
}

.btn-success td {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #fff;
}
.btn-success td a {
  color: #fff;
}

.btn-warning td {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  color: #fff;
}
.btn-warning td a {
  color: #fff;
}

.btn-danger td {
  background-color: #d9534f;
  border-color: #d9534f;
  color: #fff;
}
.btn-danger td a {
  color: #fff;
}
