.bg-faded {
  background-color: #f7f7f7;
}

.bg-primary {
  background-color: #0275d8;
}

.bg-success {
  background-color: #5cb85c;
}

.bg-info {
  background-color: #5bc0de;
}

.bg-warning {
  background-color: #f0ad4e;
}

.bg-danger {
  background-color: #d9534f;
}

.bg-inverse {
  background-color: #292b2c;
}

.text-white {
  color: #fff;
}

.text-muted {
  color: #636c72;
}

.text-primary {
  color: #0275d8;
}

.text-info {
  color: #5bc0de;
}

.text-success {
  color: #5cb85c;
}

.text-warning {
  color: #f0ad4e;
}

.text-danger {
  color: #d9534f;
}
