.container{
  width: 100%;
  & > tr > td {
    padding: 0px 16px 0 16px;
    & > table {
      width: 100%;
      max-width: 600px;
    }
  }
}

.container-fluid{
  width: 100%;
  & > tr > td {
    padding: 0px 16px 0 16px;
    width: 100%;
  }
}
