.hr {
  width: 100%;
  border: 0;
  & > tr > td{
    width:100%;
    padding: 16px 0px;
      & > table {
        width:100%;
        & > tr > td {
          width:100%;
          border-top: 1px solid #dddddd;
          height: 1px;
          width: 100%;
      }
    }
  }
}
