.align-baseline {
  vertical-align: baseline;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.align-text-top {
  vertical-align: text-top;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.mw-100 {
  max-width: 100%;
}

.mh-100 {
  max-height: 100%;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-0 {
  margin: 0 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-1 {
  margin: 0.25*$font-size-base 0.25*$font-size-base;
}

.mt-1 {
  margin-top: 0.25*$font-size-base;
}

.mr-1 {
  margin-right: 0.25*$font-size-base;
}

.mb-1 {
  margin-bottom: 0.25*$font-size-base;
}

.ml-1 {
  margin-left: 0.25*$font-size-base;
}

.mx-1 {
  margin-right: 0.25*$font-size-base;
  margin-left: 0.25*$font-size-base;
}

.my-1 {
  margin-top: 0.25*$font-size-base;
  margin-bottom: 0.25*$font-size-base;
}

.m-2 {
  margin: 0.5*$font-size-base 0.5*$font-size-base;
}

.mt-2 {
  margin-top: 0.5*$font-size-base;
}

.mr-2 {
  margin-right: 0.5*$font-size-base;
}

.mb-2 {
  margin-bottom: 0.5*$font-size-base;
}

.ml-2 {
  margin-left: 0.5*$font-size-base;
}

.mx-2 {
  margin-right: 0.5*$font-size-base;
  margin-left: 0.5*$font-size-base;
}

.my-2 {
  margin-top: 0.5*$font-size-base;
  margin-bottom: 0.5*$font-size-base;
}

.m-3 {
  margin: $font-size-base $font-size-base;
}

.mt-3 {
  margin-top: $font-size-base;
}

.mr-3 {
  margin-right: $font-size-base;
}

.mb-3 {
  margin-bottom: $font-size-base;
}

.ml-3 {
  margin-left: $font-size-base;
}

.mx-3 {
  margin-right: $font-size-base;
  margin-left: $font-size-base;
}

.my-3 {
  margin-top: $font-size-base;
  margin-bottom: $font-size-base;
}

.m-4 {
  margin: 1.5*$font-size-base 1.5*$font-size-base;
}

.mt-4 {
  margin-top: 1.5*$font-size-base;
}

.mr-4 {
  margin-right: 1.5*$font-size-base;
}

.mb-4 {
  margin-bottom: 1.5*$font-size-base;
}

.ml-4 {
  margin-left: 1.5*$font-size-base;
}

.mx-4 {
  margin-right: 1.5*$font-size-base;
  margin-left: 1.5*$font-size-base;
}

.my-4 {
  margin-top: 1.5*$font-size-base;
  margin-bottom: 1.5*$font-size-base;
}

.m-5 {
  margin: 3*$font-size-base 3*$font-size-base;
}

.mt-5 {
  margin-top: 3*$font-size-base;
}

.mr-5 {
  margin-right: 3*$font-size-base;
}

.mb-5 {
  margin-bottom: 3*$font-size-base;
}

.ml-5 {
  margin-left: 3*$font-size-base;
}

.mx-5 {
  margin-right: 3*$font-size-base;
  margin-left: 3*$font-size-base;
}

.my-5 {
  margin-top: 3*$font-size-base;
  margin-bottom: 3*$font-size-base;
}
