.table {
  border-collapse: collapse !important;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1*$font-size-base;
}
.table td,
.table th {
  background-color: #ffffff;
  padding: 0.75*$font-size-base;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}
.table tbody + tbody {
  border-top: 2px solid #eceeef;
}

.table .table {
  background-color: #ffffff;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd;
}
.table-bordered {
  border: 1px solid #eceeef;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}
.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) td {
  background-color: #f6f7f8;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: #f3f5f6;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede;
}

.thead-inverse th {
  color: #ffffff;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
}

.table-inverse {
  color: #ffffff;
  background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #ffffff;
}

.table-inverse.table-bordered {
  border: 0;
}
