h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $font-size-base / 2;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  text-align: left;
}

h1 {
  font-size: 2.25*$font-size-base;
}

h2 {
  font-size: 2*$font-size-base;
}

h3 {
  font-size: 1.75*$font-size-base;
}

h4 {
  font-size: 1.5*$font-size-base;
}

h5 {
  font-size: 1.25*$font-size-base;
}

h6 {
  font-size: $font-size-base;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

p {
  margin: 0;
  padding: 0 0 $font-size-base*1.25 0;
}
