h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  text-align: left;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-white {
  color: #fff !important;
}

.text-muted {
  color: #636c72 !important;
}

.text-primary {
  color: #0275d8 !important;
}

.text-success {
  color: #5cb85c !important;
}

.text-info {
  color: #5bc0de !important;
}

.text-warning {
  color: #f0ad4e !important;
}

.text-danger {
  color: #d9534f !important;
}
