h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $base-font-size / 2;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  text-align: left;
}

h1 {
  font-size: 2.25*$base-font-size;
}

h2 {
  font-size: 2*$base-font-size;
}

h3 {
  font-size: 1.75*$base-font-size;
}

h4 {
  font-size: 1.5*$base-font-size;
}

h5 {
  font-size: 1.25*$base-font-size;
}

h6 {
  font-size: $base-font-size;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-muted {
  color: #636c72;
}

.text-primary {
  color: #0275d8;
}

.text-info {
  color: #5bc0de;
}

.text-success {
  color: #5cb85c;
}

.text-warning {
  color: #f0ad4e;
}

.text-danger {
  color: #d9534f;
}
