@mixin color-contrast($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= 150) {
    color: #111111;
  } @else {
    color: $white;
  }
}

@function tint-color($color, $level) {
  @return mix(white, $color, $level * $theme-color-interval);
}

@function shade-color($color, $level) {
  @return mix(black, $color, $level * $theme-color-interval);
}

$selectors: (
  "border-radius": ()
);

@function publish-selector($property, $selector) {
  @return map-merge($selectors, ($property: append(map-get($selectors, $property), unquote($selector), comma)));
}

@mixin selectors-for($property, $class) {
  #{$class} {
    #{map-get($selectors, $property)} {
      @content
    }
  }
}
