@mixin padding-group($prefix, $size, $value) {
  @include padding-util('.p-#{$prefix}#{$size}') {
    padding: $value;
  }

  @include padding-util('.pt-#{$prefix}#{$size}, .py-#{$size}') {
    padding-top: $value;
  }

  @include padding-util('.pr-#{$prefix}#{$size}, .px-#{$size}') {
    padding-right: $value;
  }

  @include padding-util('.pb-#{$prefix}#{$size}, .py-#{$size}') {
    padding-bottom: $value;
  }

  @include padding-util('.pl-#{$prefix}#{$size}, .px-#{$size}') {
    padding-left: $value;
  }
}
