@use "variable";
// Based on https://templates.mailchimp.com/development/css/reset-styles/ by Mailchimp
body, .body {
  margin: 0;
  Margin: 0; // For compatibility with Outlook
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: variable.$font-family-base;
  line-height: variable.$line-height-base * variable.$font-size-base;
  font-weight: variable.$font-weight-base;
  font-size: variable.$font-size-base;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: variable.$body-bg;
  color: variable.$body-color;
}

img {
  border: 0 none;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  display: block;
}

// to fix centering in yahoo
table[align=center] {
  margin: 0 auto;
}

th,
td,
p {
  text-align: left;
  line-height: variable.$line-height-base * variable.$font-size-base;
  font-size: variable.$font-size-base;
  margin: 0;
}

a {
  color: variable.$link-color;
}
