$font-size-base: 16px !default;
$font-weight-base: normal !default;
$font-family-sans-serif: Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$border-width: 1px !default;
$line-height-base: 1.5 !default;
$headings-line-height: 1.2 !default;
$headings-margin-top:         0 !default;
$headings-margin-bottom:      0 !default;
$headings-font-family:        null !default;
$headings-font-weight:        500 !default;
$headings-color:              null !default;

$border-color: $gray-300 !default;

$border-radius-sm: 3px !default;
$border-radius: 6px !default;
$border-radius-lg: 9px !default;
$border-radius-xl: 12px !default;
$border-radius-pill: 9999px !default;

$table-accent-bg: #f2f2f2 !default;
$table-background-color: null !default;
$table-border-color: $border-color !default;
$table-border-width: $border-width !default;

$body-color: $black !default;
$body-bg: $white !default;

$btn-padding-y:               8px !default;
$btn-padding-x:               12px !default;
$btn-font-family:             $font-family-base !default;
$btn-font-size:               $font-size-base !default;
$btn-line-height:             1.25 * $btn-font-size !default;

$btn-padding-y-sm:            0.25 * $btn-font-size !default;
$btn-padding-x-sm:            0.5 * $btn-font-size !default;
$btn-font-size-sm:            0.875 * $btn-font-size !default;
$btn-line-height-sm:          $btn-line-height * 0.875 !default;

$btn-padding-y-lg:            0.5 * $btn-font-size !default;
$btn-padding-x-lg:            $btn-font-size !default;
$btn-font-size-lg:            1.25 * $btn-font-size !default;
$btn-line-height-lg:          $btn-line-height * 1.25 !default;

$btn-border-width:            $border-width !default;
$btn-font-weight:             $font-weight-base !default;
$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;

$link-color:                  $primary !default;
