@use "sass:color";
@use "../variable";

.alert {
  border-collapse: separate !important;
  border: 0;
  width: 100%;
  & > tbody > tr > td {
    padding: 0.75 * variable.$font-size-base 1.25 * variable.$font-size-base;
    border: 1px solid transparent;
    border-radius: 0.25 * variable.$font-size-base;
  }
}

@each $color, $value in variable.$theme-colors {
  .alert-#{$color} td {
    background-color: color.adjust($value, $lightness: 40%);
    border-color: color.adjust($value, $lightness: 35%);
    color: color.adjust($value, $lightness: -30%);
    .hr > table > tbody > tr > td {
      border-top: 1px solid color.adjust($value, $lightness: 35%);
    }
  }
}
