@use "sass:color";
@use "../variable";
@use "../helper";

.alert {
  border-collapse: separate !important;
  border: 0;
  width: 100%;
  & > tbody > tr > td {
    padding: 0.75 * variable.$font-size-base 1.25 * variable.$font-size-base;
    border: 1px solid transparent;
    border-radius: 0.25 * variable.$font-size-base;
  }
}

@each $color, $value in variable.$theme-colors {
  .alert-#{$color} td {
    background-color: helper.lighten-color($value, 40%);
    border-color: helper.lighten-color($value, 35%);
    color: helper.lighten-color($value, -30%);
    .hr > table > tbody > tr > td {
      border-top: 1px solid helper.lighten-color($value, 35%);
    }
  }
}
