@use "../variable";

.card {
  background-color: variable.$white;
  border-radius: variable.$border-radius;
  border: 1px solid variable.$border-color;
  border-collapse: separate !important;
  width: 100%;
  overflow: hidden;
  & > tbody > tr > td {
    background-color: variable.$white;
    width: 100%;
  }
  .card-body {
    width: 100%;
    & > tbody > tr > td {
      padding: variable.$font-size-base * 1.25;
      width: 100%;
    }
  }
}
