@use "../variable";
@use "../helper";

.card {
  background-color: helper.hex(variable.$white);
  border-radius: variable.$border-radius;
  border: 1px solid helper.hex(variable.$border-color);
  border-collapse: separate !important;
  width: 100%;
  overflow: hidden;
  & > tbody > tr > td {
    background-color: helper.hex(variable.$white);
    width: 100%;
  }
  .card-body {
    width: 100%;
    & > tbody > tr > td {
      padding: variable.$font-size-base * 1.25;
      width: 100%;
    }
  }
}
