table.row {
  table-layout: fixed;
  width: 100%;
  & > thead > tr > th {
    min-height: 1px;
    font-weight: normal;
    padding-right: 30px;
    padding-bottom: 30px;
    &:last-child {
      padding-right: 0;
      padding-bottom: 0;
    }
  }
}

@each $key, $value in $grid-cols {
  th.col-#{$key},
  th.col-lg-#{$key} {
    width: $value;
  }
}

@each $space, $value in $spacers {
  table.row.g-#{$space},
  table.row.gx-#{$space},
  table.row.g-lg-#{$space},
  table.row.gx-lg-#{$space} {
    & > thead > tr > th {
      padding-right: $value;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  table.row.g-#{$space},
  table.row.gy-#{$space},
  table.row.g-lg-#{$space},
  table.row.gy-lg-#{$space} {
    & > thead > tr > th {
      padding-bottom: $value;
    }
  }
}
