table.row {
  table-layout: fixed;
  width: 100%;
  & > thead > tr > th {
    min-height: 1px;
    font-weight: normal;
    padding-right: 15px;
    padding-left: 15px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

@each $key, $value in $grid-cols {
  th.col-#{$key},
  th.col-lg-#{$key} {
    width: $value;
  }
}

@each $space, $value in $spacers {
  table.row.g-#{$space},
  table.row.gx-#{$space} {
    & > thead > tr > th {
      padding-right: $value / 2;
      padding-left: $value / 2;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
