@each $space, $value in $spacers {
  table.stack-x.stack-gap-#{$space} > tbody > tr > td {
    padding-right: $value;
    &:last-child {
      padding-right: 0;
    }
  }
  table.stack-y.stack-gap-#{$space} > tbody > tr {
    & > td {
      padding-bottom: $value;
    }
    &:last-child > td {
      padding-bottom: 0;
    }
  }
}

@each $align in $vertical-align {
  table.stack-valign-#{$align} > tbody > tr > td {
    vertical-align: $align;
  }
}

@each $align in $text-align {
  table.stack-align-#{$align} > tbody > tr > td {
    text-align: $align;
  }
}

table.stack-x.stack-item-stretch > tbody > tr > td > div {
  height: 100%;
}

table.stack-y.stack-item-stretch > tbody > tr > td > div {
  width: 100%;
}
