$border-color:       $gray-300 !default;
$border-width:       1px !default;
$border-radius-sm:   3px !default;
$border-radius:      6px !default;
$border-radius-lg:   9px !default;
$border-radius-pill: 9999px !default;
