@use "borders";

$table-accent-bg:        #f2f2f2 !default;
$table-background-color: null !default;
$table-border-color:     borders.$border-color !default;
$table-border-width:     borders.$border-width !default;
