$font-family-base:       Helvetica, Arial, sans-serif !default;
$font-family-url:        null !default;
$font-size-base:         16px !default;
$font-weight-base:       normal !default;
$line-height-base:       1.5 !default;
$headings-line-height:   1.2 !default;
$headings-margin-top:    0 !default;
$headings-margin-bottom: 0 !default;
$headings-font-family:   null !default;
$headings-font-weight:   500 !default;
$headings-color:         null !default;
$link-color:             $primary !default;
