@use "../helper";
@use "../variable";

@each $name, $color in variable.$all-colors {
  @include helper.color-util('.text-#{$name}') {
    color: helper.hex($color);
  }
}

@include helper.color-util('.text-muted') {
  color: helper.hex(variable.$gray-600);
}
