@use "../helper";
@use "../variable";

@each $name, $color in variable.$all-colors {
  @include helper.color-util('.text-#{$name}') {
    color: $color;
  }
}

@include helper.color-util('.text-muted') {
  color: variable.$gray-600;
}
