@use "../helper";
@use "../variable";

@each $prefix in variable.$breakpoints {
  @each $name, $property in variable.$sizing-types {
    @include helper.sizing-util('.max-#{$name}-#{$prefix}full') {
      max-#{$property}: 100%;
      -premailer-#{$property}: 100%;
      #{$property}: 100%;
    }
    @each $size, $value in variable.$sizing {
      @include helper.sizing-util('.max-#{$name}-#{$prefix}#{$size}') {
        max-#{$property}: $value;
        -premailer-#{$property}: helper.strip-unit($value);
        #{$property}: 100%;
      }
    }
  }
}

@each $prefix in variable.$breakpoints {
  @each $name, $property in variable.$sizing-types {
    @include helper.sizing-util('.#{$name}-#{$prefix}full') {
      -premailer-#{$property}: 100%;
      #{$property}: 100%;
    }
    @include helper.sizing-util('.#{$name}-#{$prefix}auto') {
      -premailer-#{$property}: auto;
      #{$property}: auto;
    }
    @each $size, $value in variable.$sizing {
      @include helper.sizing-util('.#{$name}-#{$prefix}#{$size}') {
        -premailer-#{$property}: helper.strip-unit($value);
        #{$property}: $value;
      }
    }
  }
}
