// Padding Util
@each $size, $length in $spacers {
  @include padding-group('', $size, $length);
}

@each $size, $length in $spacers {
  @include padding-group('lg-', $size, $length);
}

// Spacing Util
@each $size, $length in $spacers {
  @include spacer-util('.s-#{$size}') {
    font-size: $length;
    line-height: $length;
    height: $length;
  }
}

@each $size, $length in $spacers {
  @include spacer-util('.s-lg-#{$size}') {
    font-size: $length;
    line-height: $length;
    height: $length;
  }
}
