@use "../helper";
@use "../variable";

// Padding Util
@each $prefix in variable.$breakpoints {
  @each $size, $value in variable.$spacers {
    @include helper.padding-group($prefix, $size, $value);
  }
}

// Spacing Util
@each $prefix in variable.$breakpoints {
  @each $size, $value in variable.$spacers {
    @include helper.spacer-util('.s-#{$prefix}#{$size}') {
      font-size: $value;
      line-height: $value;
      height: $value;
      -premailer-height: helper.strip-unit($value);
    }
  }
}
