@use "../helpers/functions";
@use "../helpers/mixins";
@use "../helpers/selectors_for_utils";
@use "../variables/utilities";

// Padding Util
@each $prefix in utilities.$breakpoints {
  @each $size, $value in utilities.$spacers {
    @include mixins.padding-group($prefix, $size, $value);
  }
}

// Spacing Util
@each $prefix in utilities.$breakpoints {
  @each $size, $value in utilities.$spacers {
    @include selectors_for_utils.spacer-util('.s-#{$prefix}#{$size}') {
      font-size: $value;
      line-height: $value;
      height: $value;
      -premailer-height: functions.strip-unit($value);
    }
  }
}
