// Padding Helper
@each $size, $length in $spacers {
  @include padding-util('.p-#{$size}') {
    padding: $length;
  }

  @include padding-util('.pt-#{$size}, .py-#{$size}') {
    padding-top: $length;
  }

  @include padding-util('.pr-#{$size}, .px-#{$size}') {
    padding-right: $length;
  }

  @include padding-util('.pb-#{$size}, .py-#{$size}') {
    padding-bottom: $length;


  }

  @include padding-util('.pl-#{$size}, .px-#{$size}') {
    padding-left: $length;
  }
}

@each $size, $length in $spacers {
  @include padding-util('.p-lg-#{$size}') {
    padding: $length;
  }

  @include padding-util('.pt-lg-#{$size}, .py-lg-#{$size}') {
    padding-top: $length;
  }

  @include padding-util('.pr-lg-#{$size}, .px-lg-#{$size}') {
    padding-right: $length;
  }

  @include padding-util('.pb-lg-#{$size}, .py-lg-#{$size}') {
    padding-bottom: $length;
  }

  @include padding-util('.pl-lg-#{$size}, .px-lg-#{$size}') {
    padding-left: $length;
  }
}

// Spacing Helper
@each $size, $length in $spacers {
  .s-#{$size} > tbody > tr > td {
    font-size: $length;
    line-height: $length;
    height: $length;
  }
}

@each $size, $length in $spacers {
  .s-lg-#{$size} > tbody > tr > td {
    font-size: $length;
    line-height: $length;
    height: $length;
  }
}
