h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4, .display-5 {
  margin-top: $headings-margin-top;
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;
  text-align: left;
  vertical-align: baseline;
}

@each $name, $size in $headings {
  h#{$name}, .h#{$name} {
    font-size: $size;
    line-height: $size * $headings-line-height;
  }
}

@each $name, $size in $display-headings {
  .display-#{$name} {
    font-size: $size;
    line-height: $size * $headings-line-height;
  }
}

@each $name, $size in $line-height {
  .lh-#{$name} {
    line-height: $size;
  }
}

@for $n from 1 through 9 {
  @include font-weight-util('.font-weight-#{$n * 100}') {
    font-weight: #{$n * 100} !important;
  }
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

p {
  width: 100%;
  & > tbody > tr > td {
    margin: 0;
    padding: 0 0 $font-size-base * 1.25 0;
    & > p {
      margin: 0;
      padding: 0;
    }
  }
}
