@use "sass:color";
@use "sass:math";
@use "sass:meta";
@use "sass:string";

@function color-contrast($color) {
  $r: color.channel($color, "red", $space: rgb);
  $g: color.channel($color, "green", $space: rgb);
  $b: color.channel($color, "blue", $space: rgb);

  $yiq: math.div((($r * 299) + ($g * 587) + ($b * 114)), 1000);

  @if ($yiq >= 150) {
    @return #111111;
  } @else {
    @return #ffffff;
  }
}

@function tint-color($color, $level) {
  @return color.mix(white, $color, $level);
}

@function shade-color($color, $level) {
  @return color.mix(black, $color, $level);
}

@function hex($color) {
  @if not meta.type-of($color) == 'color' or $color == null or $color == transparent {
    @return $color;
  }
  @return string.unquote('#' + string.slice(color.ie-hex-str($color), 4));
}

@function strip-unit($number) {
  @if meta.type-of($number) == 'number' and not math.is-unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }
  @return $number;
}
