@use "sass:math";
@use "sass:color";

@function color-contrast($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: math.div((($r * 299) + ($g * 587) + ($b * 114)), 1000);

  @if ($yiq >= 150) {
    @return #111111;
  } @else {
    @return $white;
  }
}

@function tint-color($color, $level) {
  @return remix-color(color.mix(white, $color, $level));
}

@function shade-color($color, $level) {
  @return remix-color(color.mix(black, $color, $level));
}

@function remix-color($color) {
  @return rgb(round-color($color, 'red'), round-color($color, 'green'), round-color($color, 'blue'));
}

@function round-color($color, $channel) {
  @return math.round(color.channel($color, $channel));
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}
