@use "sass:color";
@use "sass:math";
@use "sass:meta";

@function color-contrast($color) {
  $r: color.channel($color, "red", $space: rgb);
  $g: color.channel($color, "green", $space: rgb);
  $b: color.channel($color, "blue", $space: rgb);

  $yiq: math.div((($r * 299) + ($g * 587) + ($b * 114)), 1000);

  @if ($yiq >= 150) {
    @return #111111;
  } @else {
    @return #ffffff;
  }
}

@function tint-color($color, $level) {
  @return remix-color(color.mix(white, $color, $level, $method: rgb));
}

@function shade-color($color, $level) {
  @return remix-color(color.mix(black, $color, $level, $method: rgb));
}

@function remix-color($color) {
  @return rgb(round-color($color, 'red'), round-color($color, 'green'), round-color($color, 'blue'));
}

@function round-color($color, $channel) {
  @return math.round(color.channel($color, $channel));
}

@function strip-unit($number) {
  @if meta.type-of($number) == 'number' and not math.is-unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }
  @return $number;
}
