@use "sass:color";
@use "sass:meta";
@use "sass:math";
@use "../variable";

@function color-contrast($color) {
  $r: color.red($color);
  $g: color.green($color);
  $b: color.blue($color);

  $yiq: math.div((($r * 299) + ($g * 587) + ($b * 114)), 1000);

  @if ($yiq >= 150) {
    @return #111111;
  } @else {
    @return variable.$white;
  }
}

@function tint-color($color, $level) {
  @return color.mix(white, $color, $level);
}

@function shade-color($color, $level) {
  @return color.mix(black, $color, $level);
}

@function strip-unit($number) {
  @if meta.type-of($number) == 'number' and not math.is-unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}
