.card {
  background-color: $white;
  border-radius: $font-size-base * .25;
  border: 1px solid $gray-300;
  border-collapse: separate !important;
  width: 100%;
  overflow: hidden;
  & > tbody > tr > td {
    width: 100%;
  }
  .card-body {
    width: 100%;
    & > tbody > tr > td {
      padding: $font-size-base * 1.25;
      width: 100%;
    }
  }
}
