.container {
  width: 100%;
  & > tbody > tr > td {
    padding: 0 $font-size-base;
    & > table {
      width: 100%;
      max-width: 600px;
    }
  }
}

.container-fluid {
  width: 100%;
  & > tbody > tr > td {
    padding: 0 $font-size-base;
    width: 100%;
  }
}
