div.hr {
  width: 100%;
  border: 0;
  margin: $font-size-base*1.25 0;
  & > table {
    width: 100%;
    & > tbody > tr > td {
      width: 100%;
      border-top: 1px solid #dddddd;
      height: 1px;
      width: 100%;
    }
  }
}
