.align-baseline {
  vertical-align: baseline;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.align-text-top {
  vertical-align: text-top;
}

.w-100 {
  width: 100%;
  & > tbody > tr > td {
    width: 100%;
  }
}

.h-100 {
  height: 100%;
}

@each $size, $length in $spacers {
  .p-#{$size},
  .p-lg-#{$size} {
    & > tbody > tr > td {
      padding: $length;
    }
  }
  .pt-#{$size},
  .py-#{$size},
  .pt-lg-#{$size},
  .py-lg-#{$size} {
    & > tbody > tr > td {
      padding-top: $length;
    }
  }
  .pr-#{$size},
  .px-#{$size},
  .pr-lg-#{$size},
  .px-lg-#{$size} {
    & > tbody > tr > td {
      padding-right: $length;
    }
  }
  .pb-#{$size},
  .py-#{$size},
  .pb-lg-#{$size},
  .py-lg-#{$size} {
    & > tbody > tr > td {
      padding-right: $length;
    }
  }
  .pl-#{$size},
  .px-#{$size},
  .pl-lg-#{$size},
  .px-lg-#{$size} {
    & > tbody > tr > td {
      padding-right: $length;
    }
  }
}

@each $size, $length in $spacers {
  .s-#{$size},
  .s-lg-#{$size},
  .s-#{$size} > tbody > tr > td,
  .s-lg-#{$size} > tbody > tr > td {
    font-size: $length;
    line-height: $length;
    height: $length;
  }
}
