// Width Helper
@each $size, $percentage in $widths {
  .w-#{$size},
  .w-lg-#{$size} {
    width: $percentage;
    & > tbody > tr > td {
      width: $percentage;
    }
  }
}

// Padding Helper
@each $size, $length in $spacers {
  .p-#{$size},
  .p-lg-#{$size} {
    & > tbody > tr > td {
      padding: $length;
    }
  }
  .pt-#{$size},
  .py-#{$size},
  .pt-lg-#{$size},
  .py-lg-#{$size} {
    & > tbody > tr > td {
      padding-top: $length;
    }
  }
  .pr-#{$size},
  .px-#{$size},
  .pr-lg-#{$size},
  .px-lg-#{$size} {
    & > tbody > tr > td {
      padding-right: $length;
    }
  }
  .pb-#{$size},
  .py-#{$size},
  .pb-lg-#{$size},
  .py-lg-#{$size} {
    & > tbody > tr > td {
      padding-right: $length;
    }
  }
  .pl-#{$size},
  .px-#{$size},
  .pl-lg-#{$size},
  .px-lg-#{$size} {
    & > tbody > tr > td {
      padding-right: $length;
    }
  }
}

// Spacing Helper
@each $size, $length in $spacers {
  .s-#{$size},
  .s-lg-#{$size},
  .s-#{$size} > tbody > tr > td,
  .s-lg-#{$size} > tbody > tr > td {
    font-size: $length;
    line-height: $length;
    height: $length;
  }
}
