$font-size-base: 16px !default;
$font-weight-base: normal !default;
$font-family-sans-serif: Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$border-radius: $font-size-base * 0.25 !default;
$border-radius-lg: $font-size-base * 0.3 !default;
$border-radius-sm: $font-size-base * 0.2 !default;
$border-width: 1px !default;
$line-height-base: 1.5 !default;
$headings-line-height: 1.2 !default;
$headings-ratios: (1: 2.25, 2: 2, 3: 1.75, 4: 1.5, 5: 1.25, 6: 1) !default;
$headings-margin-top:         0 !default;
$headings-margin-bottom:      0 !default;
$headings-font-family:        null !default;
$headings-font-weight:        500 !default;
$headings-color:              null !default;
$paragraph-margin-bottom: 0 !default;
$rounded-pill: 50 * $font-size-base !default;

//
// Color system
//

$white:  #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:  #000000 !default;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
) !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
) !default;

$theme-primary: $blue !default;
$theme-secondary: $gray-600 !default;
$theme-success: $green !default;
$theme-danger: $red !default;
$theme-warning: $yellow !default;
$theme-info: $cyan !default;
$theme-light: $gray-100 !default;
$theme-dark: $gray-800 !default;

$theme-colors: (
  primary: $theme-primary,
  secondary: $theme-secondary,
  success: $theme-success,
  danger: $theme-danger,
  warning: $theme-warning,
  info: $theme-info,
  light: $theme-light,
  dark: $theme-dark
) !default;

$spacer: $font-size-base;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
) !default;

$widths: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
) !default;

$border-color: $gray-300 !default;

$table-accent-bg: #f2f2f2 !default;
$table-background-color: null !default;
$table-border-color: $border-color !default;
$table-border-width: $border-width !default;

$body-color: $black !default;
$body-bg: $white !default;

$btn-padding-y:               8px !default;
$btn-padding-x:               12px !default;
$btn-font-family:             $font-family-base !default;
$btn-font-size:               $font-size-base !default;
$btn-line-height:             1.25 * $btn-font-size !default;

$btn-padding-y-sm:            0.25 * $btn-font-size !default;
$btn-padding-x-sm:            0.5 * $btn-font-size !default;
$btn-font-size-sm:            0.875 * $btn-font-size !default;
$btn-line-height-sm:          $btn-line-height * 0.875 !default;

$btn-padding-y-lg:            0.5 * $btn-font-size !default;
$btn-padding-x-lg:            $btn-font-size !default;
$btn-font-size-lg:            1.25 * $btn-font-size !default;
$btn-line-height-lg:          $btn-line-height * 1.25 !default;

$btn-border-width:            $border-width !default;

$btn-font-weight:             $font-weight-base !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;

// Utility functions
@function heading-size($n) { @return map-get($headings-ratios, $n) * $font-size-base; }
@function heading-line-height($n) { @return heading-size($n) * $headings-line-height; }
