<a class="btn btn-primary" href="https://example.com">Click Me</a>
<a class="btn btn-secondary" href="https://example.com">Click Me</a>
<a class="btn btn-success" href="https://example.com">Click Me</a>
<a class="btn btn-warning" href="https://example.com">Click Me</a>
<a class="btn btn-danger" href="https://example.com">Click Me</a>
<a class="btn btn-light" href="https://example.com">Click Me</a>
<a class="btn btn-dark" href="https://example.com">Click Me</a>

<a class="btn btn-outline-primary" href="https://example.com">Click Me</a>
<a class="btn btn-outline-secondary" href="https://example.com">Click Me</a>
<a class="btn btn-outline-info" href="https://example.com">Click Me</a>
<a class="btn btn-outline-warning" href="https://example.com">Click Me</a>
<a class="btn btn-outline-danger" href="https://example.com">Click Me</a>
<a class="btn btn-outline-light" href="https://example.com">Click Me</a>
<a class="btn btn-outline-dark" href="https://example.com">Click Me</a>

<a class="btn bg-red-100 text-black" href="https://example.com">Click Me</a>
<a class="btn bg-red-200 text-black" href="https://example.com">Click Me</a>
<a class="btn bg-red-300 text-black" href="https://example.com">Click Me</a>
<a class="btn bg-red-400 text-black" href="https://example.com">Click Me</a>
<a class="btn bg-red-500 text-black" href="https://example.com">Click Me</a>
<a class="btn bg-red-600 text-white" href="https://example.com">Click Me</a>
<a class="btn bg-red-700 text-white" href="https://example.com">Click Me</a>
<a class="btn bg-red-800 text-white" href="https://example.com">Click Me</a>
<a class="btn bg-red-900 text-white" href="https://example.com">Click Me</a>

<a class="btn btn-primary rounded-0" href="https://example.com">Click Me</a>
<a class="btn btn-primary rounded-sm" href="https://example.com">Click Me</a>
<a class="btn btn-primary rounded" href="https://example.com">Click Me</a>
<a class="btn btn-primary rounded-top rounded-0" href="https://example.com">Click Me</a>
<a class="btn btn-primary rounded-right rounded-0" href="https://example.com">Click Me</a>
<a class="btn btn-primary rounded-bottom rounded-0" href="https://example.com">Click Me</a>
<a class="btn btn-primary rounded-left rounded-0" href="https://example.com">Click Me</a>
<a class="btn btn-primary rounded-lg" href="https://example.com">Click Me</a>
<a class="btn btn-primary rounded-xl" href="https://example.com">Click Me</a>
<a class="btn btn-primary rounded-circle" href="https://example.com">Click Me</a>
<a class="btn bg-black text-white rounded-pill" href="https://example.com">Click Me</a>
