<div class="bg-black">Something here</div>
<div class="bg-white">Something here</div>
<div class="bg-transparent">Something here</div>

<% scales = (100..900).step(100).to_a %>
<% colors = %w(gray blue indigo purple pink red orange yellow green teal cyan) %>
<% colors.each do |color| %>
  <% scales.each do |scale| %>
    <div class="bg-<%= color %>-<%= scale %>">Something here</div>
  <% end %>
<% end %>
