<div>This is regular text</div>
<div class="text-black">Something here</div>
<div class="text-white">Something here</div>
<div class="text-transparent">Something here</div>
<div class="text-muted">Something here</div>

<div class="text-muted">This is muted text</div>
<div class="text-primary">This is primary text</div>
<div class="text-info">This is info text</div>
<div class="text-success">This is success text</div>
<div class="text-warning">This is warning text</div>
<div class="text-danger">This is danger text</div>
<div class="text-light">This is light text</div>
<div class="text-dark">This is dark text</div>

<% scales = (100..900).step(100).to_a %>
<% colors = %w(gray blue indigo purple pink red orange yellow green teal cyan) %>
<% colors.each do |color| %>
  <% scales.each do |scale| %>
    <div class="text-<%= color %>-<%= scale %>">Something here</div>
  <% end %>
<% end %>

<span class="text-primary">Primary Text color</span>
<span class="text-muted">Muted Text color</span>
<span class="text-danger">Danger Text color</span>
<span class="text-green-500">Green 500 Text color</span>
<span class="text-yellow-500">Yellow 500 Text color</span>
