<% (0..5).to_a.each do |size| %>
  <a class="btn btn-primary p-<%= size %>" href="http://example.com">Button with mega padding 🎉🛑</a>
<% end %>

<% (0..5).to_a.each do |size| %>
  <a class="btn btn-primary p-lg-<%= size %>" href="http://example.com">Button with mega padding only on large screens</a>
<% end %>

<% (0..5).to_a.each do |size| %>
  <a class="btn btn-primary my-<%= size %>" href="http://example.com">Button with mega margin</a>
<% end %>

<% (0..5).to_a.each do |size| %>
  <a class="btn btn-primary my-lg-<%= size %>" href="http://example.com">Button with mega margin only on large screens</a>
<% end %>

<div class="space-y-3">
  <a class="btn btn-primary" href="http://example.com">Space between these buttons</a>
  <a class="btn btn-primary" href="http://example.com">Space between these buttons</a>
  <a class="btn btn-primary" href="http://example.com">Space between these buttons</a>
</div>
