<h1>This is an h1</h1>
<h2>This is an h2</h2>
<h3>This is an h3</h3>
<h4>This is an h4</h4>
<h5>This is an h5</h5>
<h6>This is an h6</h6>

<hr>

<div class="text-left">This text is to the left</div>
<div class="text-center">This text is to the center</div>
<div class="text-right">This text is to the right</div>

<hr>

<% (100..900).step(100).to_a.each do |weight| %>
  <div class="font-weight-<%= weight %>">Some text here with some amount of weight</div>
<% end %>
<div class="font-weight-bold">Some text here this is bold</div>
<div class="font-weight-normal">Some text here that is normal</div>

<hr>

<p><strong>Bold Text</strong></p>
<p><strong>Bold Text</strong></p>
<p><u>Underlined Text</u></p>
<p><em>Italic Text</em></p>
<p><s>Strike Through Text</s></p>
