<h1>This is an h1</h1>
<h2>This is an h2</h2>
<h3>This is an h3</h3>
<h4>This is an h4</h4>
<h5>This is an h5</h5>
<h6>This is an h6</h6>

<hr>

<div class="display-1">This is an display-1</div>
<div class="display-2">This is an display-2</div>
<div class="display-3">This is an display-3</div>
<div class="display-4">This is an display-4</div>
<div class="display-5">This is an display-5</div>

<hr>

<p class="lh-1">This is test of text with different amounts of line height. What do you think of the line height for this text? Is it too large? Too small? The world may never know but I do hope that this works.</p>
<p class="lh-sm">This is test of text with different amounts of line height. What do you think of the line height for this text? Is it too large? Too small? The world may never know but I do hope that this works.</p>
<p class="lh-base">This is test of text with different amounts of line height. What do you think of the line height for this text? Is it too large? Too small? The world may never know but I do hope that this works.</p>
<p class="lh-lg">This is test of text with different amounts of line height. What do you think of the line height for this text? Is it too large? Too small? The world may never know but I do hope that this works.</p>

<hr>

<div class="text-left">This text is to the left</div>
<div class="text-center">This text is to the center</div>
<div class="text-right">This text is to the right</div>
<div class="text-justify">This text is justified which means it fills the whole line when it wraps so the start and end of the text with touch both the left and right side.</div>

<hr>

<% (100..900).step(100).to_a.each do |weight| %>
  <p class="fw-<%= weight %>">Some text here with some amount of weight</p>
<% end %>

<hr>

<% ['xs', 'sm', 'base', 'lg', 'xl', '2xl', '3xl', '4xl', '5xl', '6xl', '7xl'].each do |size| %>
  <span class="text-<%= size %>">Text size <%= size %></span>
<% end %>

<hr>

<p><strong>Bold Text</strong></p>
<p><strong>Bold Text</strong></p>
<p><u>Underlined Text</u></p>
<p><em>Italic Text</em></p>
<p><s>Strike Through Text</s></p>
