<table class="h-24">
  <tbody>
    <tr>
      <td class="ay-baseline">baseline</td>
      <td class="ay-top">top</td>
      <td class="ay-middle">middle</td>
      <td class="ay-bottom">bottom</td>
      <td class="ay-text-top">text-top</td>
      <td class="ay-text-bottom">text-bottom</td>
    </tr>
  </tbody>
</table>
