<table class="h-24">
  <tbody>
    <tr>
      <td class="valign-baseline">baseline</td>
      <td class="valign-top">top</td>
      <td class="valign-middle">middle</td>
      <td class="valign-bottom">bottom</td>
      <td class="valign-text-top">text-top</td>
      <td class="valign-text-bottom">text-bottom</td>
    </tr>
  </tbody>
</table>
