/* this file will be placed in the head of the document and will not be inlined */

.ExternalClass {
  width: 100%;
}
/* Forces Outlook.com to display emails at full width */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
/* Forces Outlook.com to display normal line spacing, here is more on that: http://www.emailonacid.com/forum/viewthread/43/ */

.imageFix{
  display: block;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  /*  grid */
  table.row {
    th.col-lg-1,
    th.col-lg-2,
    th.col-lg-3,
    th.col-lg-4,
    th.col-lg-5,
    th.col-lg-6,
    th.col-lg-7,
    th.col-lg-8,
    th.col-lg-9,
    th.col-lg-10,
    th.col-lg-11,
    th.col-lg-12{
      display: block;
      width: 100% !important;
    }
  }

  /* display */
  .d-mobile{
    display: block !important;
  }
  .d-desktop{
    display: none !important;
  }
}

/* yahoo specific media query to revert above */
@media yahoo {
  /* display */
  .d-mobile {
    display: none !important;
  }
  .d-desktop {
    display: block !important;
  }
}
