//
// This file will be placed in the head of the document and will not be inlined
//
@import 'scss/functions';
@import 'scss/colors';
@import 'scss/variables';
@import 'scss/selectors_for_utils';
@import 'scss/helper_groups';

// Forces Outlook.com to display emails at full width
.ExternalClass {
  width: 100%;
}

// Forces Outlook.com to display normal line spacing, here is more on that: http://www.emailonacid.com/forum/viewthread/43/
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 150%;
}

a {
  text-decoration: none;
}

// Gmail override
body,
td {
  margin: unset;
  font-family: unset;
}

/*! allow_purge_after */

@media screen and (max-width: 600px) {
  //  Grid
  @each $key, $value in $grid-cols {
    table.row > thead > tr > th.col-lg-#{$key} {
      display: block;
      width: 100% !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  // Display
  .d-mobile {
    display: block !important;
  }
  .d-desktop {
    display: none !important;
  }

  // Sizing
  @each $size, $amount in $sizing {
    @include sizing-util('.w-lg-#{$size}') {
      width: auto !important;
    }
  }
  @each $size, $amount in $sizing {
    @include sizing-util('.w-#{$size}') {
      width: $amount !important;
    }
  }
  @each $size, $amount in $sizing {
    @include sizing-util('.h-lg-#{$size}') {
      height: auto !important;
    }
  }
  @each $size, $amount in $sizing {
    @include sizing-util('.h-#{$size}') {
      height: $amount !important;
    }
  }

  // Spacing
  // Reset large padding to 0 on small device
  @each $size, $length in $spacers {
    @include padding-group('lg-', $size, unquote('0 !important'));
  }

  // Set proper padding on small devices
  @each $size, $length in $spacers {
    @include padding-group('', $size, unquote('#{$length} !important'));
  }


  // Spacers
  @include spacer-util('.s-lg-1, .s-lg-2, .s-lg-3, .s-lg-4, .s-lg-5') {
    font-size: 0 !important;
    line-height: 0 !important;
    height: 0 !important;
  }

  @each $size, $length in $spacers {
    @include spacer-util('.s-#{$size}') {
      font-size: $length !important;
      line-height: $length !important;
      height: $length !important;
    }
  }
}

// Yahoo specific media query to revert above
@media yahoo {
  // Display
  .d-mobile {
    display: none !important;
  }
  .d-desktop {
    display: block !important;
  }

  // Sizing
  @each $size, $amount in $sizing {
    @include sizing-util('.w-lg-#{$size}') {
      width: $amount !important;
    }
  }
  @each $size, $amount in $sizing {
    @include sizing-util('.h-lg-#{$size}') {
      height: $amount !important;
    }
  }

  // Spacing
  // Set proper spacing again on Yahoo
  @each $size, $length in $spacers {
    @include padding-group('lg-', $size, unquote('#{$length} !important'));
  }

  // Spacing
  @each $size, $length in $spacers {
    @include spacer-util('.s-lg-#{$size}') {
      font-size: $length !important;
      line-height: $length !important;
      height: $length !important;
    }
  }
}
