<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/email.css">
    <!-- inject-style src="./css/head.css" -->
  </head>
  <body>
    <%= contents %>
  </body>
</html>
