<a class="btn btn-primary" href="https://example.com">Click Me</a>
<a class="btn btn-secondary" href="https://example.com">Click Me</a>
<a class="btn btn-success" href="https://example.com">Click Me</a>
<a class="btn btn-warning" href="https://example.com">Click Me</a>
<a class="btn btn-danger" href="https://example.com">Click Me</a>
<a class="btn btn-light" href="https://example.com">Click Me</a>
<a class="btn btn-dark" href="https://example.com">Click Me</a>

<a class="btn btn-outline-primary" href="https://example.com">Click Me</a>
<a class="btn btn-outline-secondary" href="https://example.com">Click Me</a>
<a class="btn btn-outline-info" href="https://example.com">Click Me</a>
<a class="btn btn-outline-warning" href="https://example.com">Click Me</a>
<a class="btn btn-outline-danger" href="https://example.com">Click Me</a>
<a class="btn btn-outline-light" href="https://example.com">Click Me</a>
<a class="btn btn-outline-dark" href="https://example.com">Click Me</a>

<a class="btn btn-blue-100" href="https://example.com">Click Me</a>
<a class="btn btn-blue-200" href="https://example.com">Click Me</a>
<a class="btn btn-blue-300" href="https://example.com">Click Me</a>
<a class="btn btn-blue-400" href="https://example.com">Click Me</a>
<a class="btn btn-blue-500" href="https://example.com">Click Me</a>
<a class="btn btn-blue-600" href="https://example.com">Click Me</a>
<a class="btn btn-blue-700" href="https://example.com">Click Me</a>
<a class="btn btn-blue-800" href="https://example.com">Click Me</a>
<a class="btn btn-blue-900" href="https://example.com">Click Me</a>
