<div class="row">
  <div class="col-3">This is a 1/4 of the row</div>
  <div class="col-3">This is a 1/4 of the row</div>
  <div class="col-6">This is a 1/2 of the row</div>
</div>

<div class="row">
  <div class="col-lg-1"><div class="bg-teal-500">a</div></div>
  <div class="col-lg-2"><div class="bg-teal-500">b</div></div>
  <div class="col-lg-3"><div class="bg-teal-500">c</div></div>
  <div class="col-lg-6"><div class="bg-teal-500">d</div></div>
</div>

<div class="row gx-0">
  <div class="col-lg-3"><div class="bg-blue-500">This is a 4th of the row</div></div>
  <div class="col-lg-3"><div class="bg-blue-500">This is a 4th of the row</div></div>
  <div class="col-lg-3"><div class="bg-blue-500">This is a 4th of the row</div></div>
  <div class="col-lg-3"><div class="bg-blue-500">This is a 4th of the row</div></div>
</div>

<div class="row gx-1">
  <div class="col-lg-3"><div class="bg-green-500">This is a 4th of the row</div></div>
  <div class="col-lg-3"><div class="bg-green-500">This is a 4th of the row</div></div>
  <div class="col-lg-3"><div class="bg-green-500">This is a 4th of the row</div></div>
  <div class="col-lg-3"><div class="bg-green-500">This is a 4th of the row</div></div>
</div>

<div class="row gx-6">
  <div class="col-lg-3"><div class="bg-red-500">This is a 4th of the row</div></div>
  <div class="col-lg-3"><div class="bg-red-500">This is a 4th of the row</div></div>
  <div class="col-lg-3"><div class="bg-red-500">This is a 4th of the row</div></div>
  <div class="col-lg-3"><div class="bg-red-500">This is a 4th of the row</div></div>
</div>
