<table class="<%= classes %>">
  <tbody>
    <tr>
      <td align="center">
        <!--[if (gte mso 9)|(IE)]>
          <table align="center">
            <tbody>
              <tr>
                <td width="600">
        <![endif]-->
        <table align="center">
          <tbody>
            <tr>
              <td>
                <%= contents %>
              </td>
            </tr>
          </tbody>
        </table>
        <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </tbody>
          </table>
        <![endif]-->
      </td>
    </tr>
  </tbody>
</table>
