@each $color, $value in $theme-colors {
  .bg-#{$color},
  .bg-#{$color} > tbody > tr > td {
    background-color: $value;
  }
}

@each $color, $value in $pallet-colors {
  .bg-#{$color},
  .bg-#{$color} > tbody > tr > td {
    background-color: $value;
  }
}

.bg-white,
.bg-white > tbody > tr > td {
  background-color: $white !important;
}

.bg-black,
.bg-black > tbody > tr > td {
  background-color: $black !important;
}

.bg-transparent,
.bg-transparent > tbody > tr > td {
  background-color: transparent !important;
}
